
<div ng-controller="CreateAcctCtrl" class="container">
    <form ng-submit="submit()" class="form-signin" >
        <h2 class="form-signin-heading">Create an account</h2>
        <div class="alert-danger">{{form_error}}</div>
        <label for="inputEmail" class="sr-only">Name/email</label>
        <input type="text" id="inputEmail" ng-model="name" class="form-control" placeholder="Name or email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" ng-model="pw" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create account</button>
        <div class=""><a href="#/login">or login to an existing account</a></div>
    </form>
</div>