<div ng-controller="MyPinsCtrl" class="container-fluid">
    <div>
        <form><button type="button" class="btn btn-default" ng-click="goto('/publicpins')">All Pins</button></form>
        <form><button type="button" class="btn btn-default" ng-click="goto('/addpin')">Add a pin</button></form>
    </div>
    <h1>{{user_name}}'s pins</h1>
    <!--should be inserting <div class="row" every 3rd col entry but need to also insert </div> at end of group, seems to work w/o rows but likely isn't reliable-->
    <div ng-repeat="pin in pins">
        <div class="col-md-4 pin-block">
            <a href="{{pin.content}}" target="_blank"><img src="{{pin.image}}" alt="{{pin.title}}" class="img-responsive img-rounded"></a>
            <p><strong>{{pin.title}}</strong></p>
            <p><em>{{pin.caption}}</em></p>
            <form><button type="button" class="btn btn-danger" ng-click="unpin(pin.id)">delete</button></form>
        </div>
    </div>
</div>
